/* Container holding the image and the text */
.container {
  }

.titleimg {
    width: 300px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
